In [1]:
#Importando Libs
import pandas as pd
import numpy as np

In [27]:
#Criando dados simulados para análise
Data = {
    'id_usuario': np.random.randint(0, 181, size=200),
    'municipio': np.random.choice(['A', 'B', 'C'], size=200),
    'idade': np.random.choice([20, 21, 22, 23, 24, 25, 26, 25, 28, 29, 30, 31, 32, 33, 34, 35, 155, np.nan], size=200),
    'escolaridade': np.random.choice(['fundamental', 'médio', 'superior', 'pós-graduação', np.nan], size=200),
    'temperatura_corporal': np.random.choice([35, 36, 37, 44, np.nan], size=200),
    'sexo': np.random.choice(['masculino', 'feminino'], size=200),
    'gravidez': np.random.choice(['sim', 'não'], size=200)
}

In [28]:
#Criando o dataframe
DataBase = pd.DataFrame(Data)

In [29]:
DataBase.head()

,id_usuario,municipio,idade,escolaridade,temperatura_corporal,sexo,gravidez
0,98,A,20.0,superior,37.0,feminino,sim
1,101,B,34.0,pós-graduação,37.0,masculino,sim
2,73,C,28.0,superior,36.0,masculino,não
3,150,B,25.0,pós-graduação,NaN,feminino,não
4,138,B,21.0,pós-graduação,44.0,masculino,não

In [30]:
#Analisando a presença de dados duplicados
Duplicatas = DataBase['id_usuario'].duplicated()
Duplicatas.value_counts()

id_usuario
False    111
True      89
Name: count, dtype: int64

In [34]:
#Removendo a presença de dados duplicados
Sem_Duplicatas = DataBase['id_usuario'].drop_duplicates()
Sem_Duplicatas.value_counts()

id_usuario
98     1
101    1
73     1
150    1
138    1
      ..
149    1
63     1
40     1
153    1
8      1
Name: count, Length: 111, dtype: int64